body {
  background-color: #262a30;
  color: #fff;
  font-family: sans-serif;
}

.t-demo-container {
  width: 100%;
  max-width: 1024px;
  margin: 50px auto;
}

.t-demo-title {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

.t-demo-summary {
  margin-bottom: 0.5rem;
}

.t-demo-controls-header {
  margin-top: 2rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
}

ul.t-demo-controls {
  padding: 0;
  list-style: none;
  color: #ddd;
  margin-top: 0.75rem;
}

ul.t-demo-controls li {
  margin: 0.25rem 0;
}

ul.t-demo-controls em {
  color: #fff;
  font-weight: bold;
  font-style: normal;
}

.t-game-container {
  border: 1px solid #181b1f;
  box-shadow: 0px 1px 2px #161a20;
}
